<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Login</h2>
            <app-login (loginAccess)="userAccessed($event)"></app-login>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Sign Up</h2>
            <app-signup (signupAccess)="userAccessed($event)"></app-signup>
          </div>
        </div>
      </div>
    </div>
</div>